<div style="background-color: black; padding: 50px; border: 3px solid blue; border-radius: 50px; width: fit-content; margin-left: 35%; margin-right: 30%;">
    <br>
    <h2 style="text-align: center; color:blue;">ADMIN CONTROL PANEL</h2>
    <br>
    <div>
        <button routerLink="/admindashboard/allIssues" style="width: 100%; padding: 15px; background-color: blue; color: white; font-size: 20px; font-family: arial; margin-bottom: 30px; margin-top: 30px; border: none; border-radius: 4px;"><b> View All Customer Issues</b></button>
    </div>
    <div>
        <button routerLink="/admindashboard/allInvoices" style="width: 100%; padding: 15px; background-color: blue; color: white; font-size: 20px; font-family: arial; margin-bottom: 30px; margin-top: 30px; border: none; border-radius: 4px;"><b>View All Customer Transactions</b></button>
    </div>
    <div>
        <button routerLink="/admindashboard/allFeedbacks" style="width: 100%; padding: 15px; background-color: blue; color: white; font-size: 20px; font-family: arial; margin-bottom: 30px; margin-top: 30px; border: none; border-radius: 4px;"><b>View All Customer Feedbacks and Suggestions</b></button>
    </div>
    <div>
        <button routerLink="/admindashboard/createNewPlan" style="width: 100%; padding: 15px; background-color: blue; color: white; font-size: 20px; font-family: arial; margin-bottom: 30px; margin-top: 30px; border: none; border-radius: 4px;"><b>Create a New Plan</b></button>
    </div>
</div>
