<div class="container-fluid"
    style="border: 2px solid black; border-radius: 10px; background-color: black; width: max-content; margin-top: -20px;">
    <h3
        style="text-align: center; margin-top: 10px; border: 3px ;border-radius: 10px; border-style: solid; padding: 10px; width: 100%; background-color: lightblue; font-weight: bolder;">
        Let us know what you feel</h3>

    <form [formGroup]="form" (ngSubmit)="submit()"
        style="width: fit-content; align-self: center; text-align:center; margin-left:5px">

        <br>
        <div class="form-group">
            <label style="color: white;">How would you rate the call connectivity provided by VoizFonica?</label>
            <select name="call_Connectivity" formControlName="call_Connectivity" class="form-control"
                aria-placeholder="select">
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Average">Average</option>
                <option value="Below Average">Below Average</option>
                <option value="Bad">Bad</option>
            </select>
            <div *ngIf="f['call_Connectivity'].touched && f['call_Connectivity'].invalid" class="alert alert-danger">
                <div *ngIf="f['call_Connectivity'].errors && f['call_Connectivity'].errors['required']">This field is
                    required</div>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label style="color: white;">How would you rate the useablity and overall experience on our web
                application?</label>
            <select name="experience" formControlName="experience" class="form-control" aria-placeholder="select">
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Average">Average</option>
                <option value="Below Average">Below Average</option>
                <option value="Bad">Bad</option>
            </select>
            <div *ngIf="f['experience'].touched && f['experience'].invalid" class="alert alert-danger">
                <div *ngIf="f['experience'].errors && f['experience'].errors['required']">This field is required</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label style="color: white;">How would you rate our customer support service?</label>
            <select name="customer_Support" formControlName="customer_Support" class="form-control"
                aria-placeholder="select">
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Average">Average</option>
                <option value="Below Average">Below Average</option>
                <option value="Bad">Bad</option>
            </select>
            <div *ngIf="f['customer_Support'].touched && f['customer_Support'].invalid" class="alert alert-danger">
                <div *ngIf="f['customer_Support'].errors && f['customer_Support'].errors['required']">This field is
                    required</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label style="color: white;">How would you rate our plans, prices and their value for the money?</label>
            <select name="value_For_Money" formControlName="value_For_Money" class="form-control"
                aria-placeholder="select">
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Average">Average</option>
                <option value="Below Average">Below Average</option>
                <option value="Bad">Bad</option>
            </select>
            <div *ngIf="f['value_For_Money'].touched && f['value_For_Money'].invalid" class="alert alert-danger">
                <div *ngIf="f['value_For_Money'].errors && f['value_For_Money'].errors['required']">This field is
                    required</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label style="color: white;">Your suggestions and other comments</label>
            <textarea formControlName="your_Opinion" class="form-control" rows="3"
                placeholder="Type here..."></textarea>
            <div *ngIf="f['your_Opinion'].touched && f['your_Opinion'].invalid" class="alert alert-danger">
                <span *ngIf="f['your_Opinion'].errors && f['your_Opinion'].errors['required']">This field is
                    required</span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!form.valid" id="btn" class="btn btn-primary">Submit Feedback</button>
        </div>
        <small><b>{{msg}}</b></small>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Thank you!</strong> for your feedback.
            <small style="color: white;"><b>{{msg}}</b></small>
            <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </form>
</div>