<h2 style="text-align: Center; margin-top: 30px; font-weight:bolder; font-family: 'Times New Roman', Times, serif;">Voiz Fonica Support Center</h2>
        <div class="buttonset" style="margin-top: 30px;">
            <div class="row" style="margin-left: 10px;">
                <div class="col-sm-2 col-md-4" style="text-align: center;">
                    <div class="thumbnail">
                        <img src="/src/assets/FAQ.png" alt="faq">
                        <div class="caption" style="padding: 30px;">
                            <h3><b>FAQs</b></h3>
                            <p>Read a list of questions frequently asked by our customers.</p>
                            <p><a href="#" class="btn btn-primary" routerLink="/support/faqs">Go to FAQs</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4" style="text-align: center; height: 10px;">
                    <div class="thumbnail">
                        <img src="/src/assets/raiseanissue.png" alt="faq" width="100%">
                        <div class="caption" style="padding: 30px;">
                            <h3><b>Raise an issue</b></h3>
                            <p>You can raise an issue and our team will resolve it for you. </p>
                            <p><a href="#" class="btn btn-primary" routerLink="/support/raiseissue">Raise an issue</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4" style="text-align: center;">
                    <div class="thumbnail">
                        <img src="/src/assets/tracking.jpg" alt="faq" width="100%">
                        <div class="caption" style="padding: 30px;">
                            <h3><b>Track issues</b></h3>
                            <p>Here you can check the status of your previously raised issues.</p>
                            <p><a href="#" class="btn btn-primary" routerLink="/support/trackissue">Track</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4" style="text-align: center;">
                    <div class="thumbnail">
                        <img src="/src/assets/feedback.jpg" alt="faq" width="100%">
                        <div class="caption" style="padding: 30px;">
                            <h3><b>Feedback</b></h3>
                            <p>We would love to hear from you. Let us know your feedbacks and suggestions</p>
                            <p><a href="#" class="btn btn-primary" routerLink="/support/feedback">Feedback</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4" style="text-align: center;">
                    <div class="thumbnail">
                        <img src="/src/assets/contact.png" alt="faq" width="100%">
                        <div class="caption" style="padding: 30px;">
                            <h3><b>Contact</b></h3>
                            <p>We have other options for you to contact us. Feel free to connect with us for assistance.</p>
                            <p><a href="#" class="btn btn-primary" routerLink="/support/tollfree">Connect</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 offset-sm-2">
                 <router-outlet></router-outlet>
               </div>
             </div>
           </div>
         </div>