<div class="container-fluid" style="width: 60%;">
  <h3
    style="text-align: center; margin-top: 10px; border: 3px ;border-radius: 10px; border-style: solid; padding: 20px; width: 50%; margin-left: 230px; background-color: cyan; font-weight: bolder;">
    FAQs</h3>

  <div class="panel panel-primary" style="width: 80%; margin-left: 100px; text-align: center; margin-top: 20px">
    <div class="panel-heading" style="background-color: black; padding-bottom: 0px;">
      <h3 class="panel-title">How to recharge my account?</h3>
    </div>
    <div class="panel-body">
      After logging in to your account, head over ot the recharge panel.
    </div>
  </div>

  <div class="panel panel-primary" style="width: 80%; margin-left: 100px; text-align: center;">
    <div class="panel-heading" style="background-color: black; padding-bottom: 0px;">
      <h3 class="panel-title">How long does it take for the recharge to reflect in my account?</h3>
    </div>
    <div class="panel-body">
      Try logging out and re-login. In most cases the recharge happens almost instantly. In some cases it might take
      maximum upto 24 hours.
    </div>
  </div>

  <div class="panel panel-primary" style="width: 80%; margin-left: 100px; text-align: center;">
    <div class="panel-heading" style="background-color: black; padding-bottom: 0px;">
      <h3 class="panel-title">What should I do in case the servers are down?</h3>
    </div>
    <div class="panel-body">
      Our servers should be up within short durations. However it is adviced that the second payment attempt is made
      after
      a few hours.
    </div>
  </div>

  <div class="panel panel-primary" style="width: 80%; margin-left: 100px; text-align: center;">
    <div class="panel-heading" style="background-color: black; padding-bottom: 0px;">
      <h3 class="panel-title">What should I do if my issue stands active and I dont receive help?</h3>
    </div>
    <div class="panel-body">
      We will try our best to resolve all issues as soon as possible. In case you are not satisfied with the response
      time, you can connect with our support team through the alternate contact.
    </div>
  </div>
</div>