<h3 style="text-align: center; margin-top: 30px; border: 3px ;border-radius: 50px; border-style: solid; padding: 20px; width: 50%; margin-left: 200px; background-color: light-grey; font-weight: bolder;">Raise an issue</h3>
        
        <form style="width: 50%; align-self: center; text-align:center; margin-left:200px">
            <div class="form-group">
              <label for="exampleFormControlInput1">Enter your full name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Enter your primary Contact E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@email.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Enter your primary Mobile Number</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Choose your current plan</label>
              <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Select">
                <option>Pre-Paid</option>
                <option>Post-Paid</option>
                <option>Dongle</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write a brief description of the problem you are facing</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type here..."></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success">Submit</button>
            </div>
          </form>
