<div class="container-fluid" style="width: 50%;">
    <div class="row justify-content-end">
        <div class="col-md-10 bg-dark">
           <h1 style="color: cyan; padding: 20px; padding-top: 35px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">About VoizFonica</h1>
            </div>
            <div class="col-md-2 bg-dark">
                <button class="btn btn-light" routerLink="" style="margin-top: 32px; margin-left: -5px; size: 30px;">Back home</button>
            </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-12 bg-light">
           <p style="margin-top: 20px; padding: auto;">
            VoizFonica is one of India's leading telecom and network service providers.<br><br>
            We provide 3 types of servises:-<br><br><b><em>1. Prepaid 2. Postpaid and 3. Dongle</em></b><br><br>
            We are providing our services for almost 10 years now with more that 10 lakh active customers.<br><br>
            Technical support to our systems is provided by Prodapt Solutions.
           </p>
        </div>
        <div style="margin: 110px;">

        </div>
<script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>