<div class="container"
  style="background-color: black; border: 3px solid grey; border-radius: 30px; padding: 30px; width: fit-content">
  <br>
  <h3 style="color: white; text-align: center; font-size: larger;">Issues Raised</h3>
  <div class="container">
    <table class="table table-dark table-hover" style="text-align: center; border: 2px solid white;">
      <thead>
        <th style="text-align: center">Issue Id</th>
        <th style="text-align: center">Isse Description</th>
        <th style="text-align: center">Plan</th>
        <th style="text-align: center">Contact Email</th>
        <th style="text-align: center">Contact Mobile</th>
        <th style="text-align: center">Issue Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let issue of issues">
          <td>{{issue.id}}</td>
          <td>{{issue.description}}</td>
          <td>{{issue.plan}}</td>
          <td>{{issue.email}}</td>
          <td>+91 {{issue.mobile_No}}</td>
          <td>{{getStatus(issue.active)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>