<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<table class="table table-dark table-striped-columns" style="color: black; border: 2px solid grey; border-radius: 5px;">
    <tr>
        <th>Issue Id</th>
        <th>User Id</th>
        <th>E-mail</th>
        <th>Mobile No.</th>
        <th>Issue Description</th>
        <th>Issue Status</th>
    </tr>
    <tr>
        <td>ISID1</td>
        <td>USID3</td>
        <td>name@email.com</td>
        <td>920389278</td>
        <td>Recharge not reflecting in my account</td>
        <td>Active</td>
    </tr>
</table>
