<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<div clas="main container">
  <ul class="nav nav-pills" style="font-size: 20px; padding-left: 20px; background-color: cyan; box-shadow: 10px;">
      <li role="presentation"><img src="../assets/mobilepng.webp" width="50" style="margin-top: 30px;"></li>
      <li role="presentation"><a class="nav-item nav-link" routerLink="/"><h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><b>VOIZ FONICA</b></h2></a></li>
        <li role="presentation"><a class="nav-item nav-link" routerLink="/" style="margin-top: 20px; margin-left: 30px;">Home</a></li>
        <li role="presentation"><a class="nav-item nav-link" routerLink="/login" style="margin-top: 20px;">Login</a></li>
        <li role="presentation"><a class="nav-item nav-link" routerLink="/support" style="margin-top: 20px;">Customer Support</a></li>
  </ul>
</div>
<div class="jumbotron">
   <div class="container">
     <div class="row">
       <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
  