<div class="container-fluid" style="width: 700px; text-align: center; background-color: aliceblue;">
    <div class="row">
        <div class="col-12 text-center bg-info ">
            <h2>Terms of Service & Privacy Policy</h2>
            <a routerLink="/signup">back to sign up page</a>
        </div>
    </div>
    <div class="row">
        <div>
            
            <p style="color: black">
                <br><br>
               <b> An Overview:</b><br>
The terms of service agreement is a legally binding agreement between you and your customers. It involves an offer, such as the website rules and regulations, as well as acceptance, such as your ongoing use of this website indicating that you accept the terms. You are leaving yourself unprotected if faced with any legal concerns with your website if you do not have a well-written terms of service agreement.

<br><b> Elements in the Terms of Service: </b><br>
The policy will simply mention the information required by the website, such as name, email id, contact number, etc, according to the preference of the service/product.

Each policy will have different reasons for collecting the information from the user. Some of the reasons would be for internal recordkeeping, delivering the goods, etc.

<br><b> Security </b><br>
Followed by it, there are certain security measures taken to avoid and prevent unauthorised usage or access to the information given by the users. This is a precaution that the other people apart from the legal administrators should access the content.

<br><b> Links to other websites </b><br>
Sometimes a website contains links to other websites. Usually, when you visit a website, there will be other links that take you to other websites. In that note, the terms of service will explicitly mention in its policies that when you visit a website and click any other links in that website that takes you to the other sites, and if you provide any information on that other site, then the website is not responsible for the information provided to or on other sites.


<br><b> Cancellation Policy </b><br>
Sometimes, when you visit some service or product-based websites, you place an order online. Suddenly, for some reason, you might wish to cancel the order. Some websites and apps give you the provision to cancel the order within a limited time. Some websites don't provide you with the option to cancel the placed orders. A cancellation policy outlines all terms and conditions about the cancellation of an order (service/product) placed.


<br><b> Refund Policy </b><br>
The terms and conditions that refer to the processing of a refund to a customer are called the refund policy.

<br><b> Normally, a refund is expected in the following two cases :</b><br>

After receiving the product, the return of the product takes place due to the disliking of a product, a damaged product, a customer receiving the wrong product, or for any other predefined reason.
Cancellation of the order placed on the website/application for which the payment is already made online
The refund policy will consist of all the necessary details on how the refund will take place, the process, procedure of it, etc., in a detailed manner.


<br><b> Disclaimer </b><br>
A disclaimer is a notice that informs visitors to your blog or website of the scope of your liabilities. Disclaimers can be found as stand-alone, separate pages on a website or within legal documents like a privacy policy or terms and conditions agreement.

<br><b> Cookie Policy </b><br>
A cookie policy educates your visitors about which cookies are active on your site, what user data they track, for what purpose, and where this data is sent around the world.

Many website owners provide a cookie policy as part of their overall privacy policy. You can also make a separate section for your website's cookie policy. This is also a legal requirement in most places.


<br><b>Shipping Policy</b><br>
A shipping policy is a brief document or webpage that highlights critical information about shipping when an order is placed online. It usually includes information about shipping fees and procedures, as well as delivery timelines and other details.

Some shipping policies are more comprehensive than others, but they should all be clear, precise, and simple to understand. Many times, extra information such as a returns and exchange policy is also offered, giving a 360-degree view to customers before they purchase.
 </p>
        </div>
    </div>
</div>
<script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>