<div class="container-fluid" style="width: 60%; text-align: center;">

<h1 style="background-color: black; padding: 20px; text-align: center; color: white; border-radius: 10px">Contact us</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <h2>Customer Support Email-ID</h2>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">support@voizfonica.com  <br>complaints@voizfonicacare.com</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <h2> Tollfree Customer Support Number </h2>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Toll-free Number: 1800 0989 5686</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <h2> Postal Address </h2>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">VoiozFonica Corporate Office, 39,
        II Cross Street, R.K Nagar, Chennai, Tamil Nadu 600028</div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" routerLink="" style="padding-top: 16px; margin-top: 40px;"><h2> Back Home </h2></button>
</div>
</div>
<div style="margin: 108px;">

</div>
