<div class="container-fluid" style="width: 40%; margin-top: 130px; background-color: azure; border-radius: 10px;">
    <h2 style="color:rgb(0, 79, 148); text-align: center; font-size: x-large; padding-top: 30px;">You have successfully logged out!</h2>
    <button type="submit" style="width: 100%; padding: 15px; background-color: green; color: white; font-size: 20px; font-family: arial; margin-bottom: 30px; margin-top: 30px; border: none; border-radius: 4px;" routerLink="">Go to VoizFonica Home</button>
</div>