#box1{
    background-image: url(./car2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#box2{
    background-image: url(./car2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#box3{
    background-image: url(./car2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}