

h1{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
    color: darkblue;
}
hr{
    margin-top: 0px;
    color: rgb(105, 10, 10);
    height: 1px;
}
select{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px; 
    background-color: honeydew; 
    margin-top: 25px;
}
option{
    background-color:ghostwhite;
    font-family: arial;
}
input[type=text],input[type=number]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    background-color: honeydew;
}
.coldiv{
    padding-bottom: 50px;
    background-color: gainsboro;
    width: 510px;
    border: 2px solid grey;
    margin-top: 70px;
}
#submit{
    margin-top: 35px;
    padding: 13px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    margin-left: 115px;
}
#reset{
    margin-top: 35px;
    padding: 13px;
    border: none;
    border-radius: 4px;
    color: white;
    float: right;
    background-color: red;
    padding-left: 30px;
    padding-right: 30px; 
    margin-right: 115px;
}
#submit:hover{
    background-color: rgb(26, 177, 26);
}
#reset:hover{
    background-color: rgb(175, 39, 39);
}
