<div class="container-fluid" style="height: 721px;">
    <div class="row justify-content-evenly">
        <div class="col-6 coldiv">
            <div class="heading">
                <h1 style="font-size: xx-large;">Create new plans</h1>
            </div>
            <hr>
            <form [formGroup]="offerform"  (submit)="submit()">
                <select aria-placeholder="select" class="form-control" name="serviceType" formControlName="serviceType" style="height: fit-content;">
                    <option value="">Select Service</option>
                    <option value="PREPAID">PREPAID</option>
                    <option value="POSTPAID">POSTPAID</option>
                    <option value="DONGLE">DONGLE</option>
                </select>

                <input type="text" placeholder="Plan Name" required="" class="form-control" name="planName"
                    formControlName="planName">
                <span *ngIf="f['planName'].invalid && f['planName'].touched" class="errormessage alert-danger">Enter valid plan</span>
                <input type="number" placeholder="Plan Cost" required="" class="form-control" name="planCost"
                formControlName="planCost">
                <span *ngIf="f['planCost'].invalid && f['planCost'].touched" class="errormessage alert-danger">Please enter plan
                    cost</span>
                <input type="number" placeholder="Plan Validity" required="" class="form-control"
                    name="planValidity" formControlName="planValidity">
                <span *ngIf="f['planValidity'].invalid && f['planValidity'].touched" class="errormessage alert-danger">Please enter plan
                    validity</span>
                <div><button type="submit" id="submit">CREATE PLAN</button>
                    <button type="reset" id="reset">CLEAR</button>
                </div>
            </form>
        </div>
    </div>
</div>